USE [master]
GO
/****** Object:  Database [DbMvcOkul]    Script Date: 7.02.2026 19:48:49 ******/
CREATE DATABASE [DbMvcOkul]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DbMvcOkul', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DbMvcOkul.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DbMvcOkul_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DbMvcOkul_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbMvcOkul].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbMvcOkul]
GO
/****** Object:  Table [dbo].[TBLDERSLER]    Script Date: 7.02.2026 19:48:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLDERSLER](
	[DERSID] [tinyint] IDENTITY(1,1) NOT NULL,
	[DERSAD] [varchar](30) NULL,
 CONSTRAINT [PK_TBLDERSLER] PRIMARY KEY CLUSTERED 
(
	[DERSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLKULUPLER]    Script Date: 7.02.2026 19:48:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLKULUPLER](
	[KULUPID] [tinyint] IDENTITY(1,1) NOT NULL,
	[KULUPAD] [varchar](30) NULL,
	[KULUPKONTENJAN] [smallint] NULL,
 CONSTRAINT [PK_TBLKULUPLER] PRIMARY KEY CLUSTERED 
(
	[KULUPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLNOTLAR]    Script Date: 7.02.2026 19:48:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLNOTLAR](
	[NOTID] [int] IDENTITY(1,1) NOT NULL,
	[DERSID] [tinyint] NULL,
	[OGRID] [int] NULL,
	[SINAV1] [tinyint] NULL,
	[SINAV2] [tinyint] NULL,
	[SINAV3] [tinyint] NULL,
	[PROJE] [tinyint] NULL,
	[ORTALAMA] [decimal](18, 2) NULL,
	[DURUM] [bit] NULL,
 CONSTRAINT [PK_TBLNOTLAR] PRIMARY KEY CLUSTERED 
(
	[NOTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLOGRENCILER]    Script Date: 7.02.2026 19:48:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLOGRENCILER](
	[OGRENCIID] [int] IDENTITY(1,1) NOT NULL,
	[OGRAD] [varchar](20) NULL,
	[OGRSOYAD] [varchar](20) NULL,
	[OGRFOTO] [varchar](200) NULL,
	[OGRCINSIYET] [varchar](5) NULL,
	[OGRKULUP] [tinyint] NULL,
 CONSTRAINT [PK_TBLOGRENCILER] PRIMARY KEY CLUSTERED 
(
	[OGRENCIID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBLDERSLER] ON 

INSERT [dbo].[TBLDERSLER] ([DERSID], [DERSAD]) VALUES (1, N'Türk dili ve edebiyatı')
INSERT [dbo].[TBLDERSLER] ([DERSID], [DERSAD]) VALUES (3, N'Atatürk ve İnkılap Tarihi')
INSERT [dbo].[TBLDERSLER] ([DERSID], [DERSAD]) VALUES (4, N'Algoritma ve Kodlama')
SET IDENTITY_INSERT [dbo].[TBLDERSLER] OFF
GO
SET IDENTITY_INSERT [dbo].[TBLKULUPLER] ON 

INSERT [dbo].[TBLKULUPLER] ([KULUPID], [KULUPAD], [KULUPKONTENJAN]) VALUES (1, N'Bilişim', 67)
INSERT [dbo].[TBLKULUPLER] ([KULUPID], [KULUPAD], [KULUPKONTENJAN]) VALUES (2, N'Kitaplık', 6)
INSERT [dbo].[TBLKULUPLER] ([KULUPID], [KULUPAD], [KULUPKONTENJAN]) VALUES (3, N'Temizlik', 4)
SET IDENTITY_INSERT [dbo].[TBLKULUPLER] OFF
GO
SET IDENTITY_INSERT [dbo].[TBLNOTLAR] ON 

INSERT [dbo].[TBLNOTLAR] ([NOTID], [DERSID], [OGRID], [SINAV1], [SINAV2], [SINAV3], [PROJE], [ORTALAMA], [DURUM]) VALUES (2, 5, 5, 60, 20, 100, 100, CAST(70.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[TBLNOTLAR] ([NOTID], [DERSID], [OGRID], [SINAV1], [SINAV2], [SINAV3], [PROJE], [ORTALAMA], [DURUM]) VALUES (3, 11, 1, 5, 5, 5, 5, CAST(0.00 AS Decimal(18, 2)), 0)
INSERT [dbo].[TBLNOTLAR] ([NOTID], [DERSID], [OGRID], [SINAV1], [SINAV2], [SINAV3], [PROJE], [ORTALAMA], [DURUM]) VALUES (4, 1, 4, 88, 0, 0, 100, CAST(47.00 AS Decimal(18, 2)), 0)
SET IDENTITY_INSERT [dbo].[TBLNOTLAR] OFF
GO
SET IDENTITY_INSERT [dbo].[TBLOGRENCILER] ON 

INSERT [dbo].[TBLOGRENCILER] ([OGRENCIID], [OGRAD], [OGRSOYAD], [OGRFOTO], [OGRCINSIYET], [OGRKULUP]) VALUES (1, N'Mehmet', N'Agam benim', N'32', N'Kadın', 3)
INSERT [dbo].[TBLOGRENCILER] ([OGRENCIID], [OGRAD], [OGRSOYAD], [OGRFOTO], [OGRCINSIYET], [OGRKULUP]) VALUES (2, N'Ayşe', N'Çınar', NULL, N'Kız', 2)
INSERT [dbo].[TBLOGRENCILER] ([OGRENCIID], [OGRAD], [OGRSOYAD], [OGRFOTO], [OGRCINSIYET], [OGRKULUP]) VALUES (3, N'Hakan', N'Kara', NULL, N'Erkek', 1)
SET IDENTITY_INSERT [dbo].[TBLOGRENCILER] OFF
GO
ALTER TABLE [dbo].[TBLNOTLAR] ADD  CONSTRAINT [DF_TBLNOTLAR_SINAV1]  DEFAULT ((0)) FOR [SINAV1]
GO
ALTER TABLE [dbo].[TBLNOTLAR] ADD  CONSTRAINT [DF_TBLNOTLAR_SINAV2]  DEFAULT ((0)) FOR [SINAV2]
GO
ALTER TABLE [dbo].[TBLNOTLAR] ADD  CONSTRAINT [DF_TBLNOTLAR_PROJE]  DEFAULT ((0)) FOR [PROJE]
GO
ALTER TABLE [dbo].[TBLNOTLAR] ADD  CONSTRAINT [DF_TBLNOTLAR_ORTALAMA]  DEFAULT ((0)) FOR [ORTALAMA]
GO
ALTER TABLE [dbo].[TBLNOTLAR] ADD  CONSTRAINT [DF_TBLNOTLAR_DURUM]  DEFAULT ((0)) FOR [DURUM]
GO
ALTER TABLE [dbo].[TBLNOTLAR]  WITH CHECK ADD  CONSTRAINT [FK_TBLNOTLAR_TBLDERSLER] FOREIGN KEY([DERSID])
REFERENCES [dbo].[TBLDERSLER] ([DERSID])
GO
ALTER TABLE [dbo].[TBLNOTLAR] CHECK CONSTRAINT [FK_TBLNOTLAR_TBLDERSLER]
GO
ALTER TABLE [dbo].[TBLNOTLAR]  WITH CHECK ADD  CONSTRAINT [FK_TBLNOTLAR_TBLOGRENCILER] FOREIGN KEY([OGRID])
REFERENCES [dbo].[TBLOGRENCILER] ([OGRENCIID])
GO
ALTER TABLE [dbo].[TBLNOTLAR] CHECK CONSTRAINT [FK_TBLNOTLAR_TBLOGRENCILER]
GO
ALTER TABLE [dbo].[TBLOGRENCILER]  WITH CHECK ADD  CONSTRAINT [FK_TBLOGRENCILER_TBLKULUPLER] FOREIGN KEY([OGRKULUP])
REFERENCES [dbo].[TBLKULUPLER] ([KULUPID])
GO
ALTER TABLE [dbo].[TBLOGRENCILER] CHECK CONSTRAINT [FK_TBLOGRENCILER_TBLKULUPLER]
GO
USE [master]
GO
